@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');

body {
  margin: 0;
  background-color: rgb(233, 233, 233);
}

/* TOPBAR */
.topbar-container {
  background-color: white;
  margin: 0;
  text-align: center;
  padding: 10px;
  font-family: 'Nunito', sans-serif;
  color: rgb(56, 56, 56);
}


/* HEADER */
.header-container {
  background-color: white;
  padding: 30px;
}

.header-wrap-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
}

.header-wrap-item {
  text-align: center;
  font-family: 'Nunito', sans-serif;
  color: rgb(190, 102, 0);
}

.header-wrap-item h3 {
  font-size: 3rem;
  color: rgb(56, 56, 56);
}


/* INPUT */
.header-container input {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  border-width: 2px;
  border-color: rgb(190, 102, 0);
  font-family: 'Nunito', sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.158);
}


/* BUTTON */
.header-container button {
  background-color: rgb(190, 102, 0);
  color: white;
  box-sizing: border-box;
  display: block;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 120px;
  width: 150px;
  padding: 10px;
  border-radius: 15px;
  border-style: unset;
  font-family: 'Nunito', sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.486);
}

.header-container button:hover {
  background-color: rgb(209, 112, 0);
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.548);
}


/* PERSONS */
table {
  background-color: white;
  width: 80%;
  margin: auto;
  margin-top: -80px;

  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.486);
}

th {
  font-family: 'Nunito', sans-serif;
  padding: 20px;
  font-size: 25px;
  color: rgb(190, 102, 0);
}

td {
  font-family: 'Nunito', sans-serif;
  text-align: center;
  padding: 20px;
  font-size: 20px;
  font-weight: 600;
  color: rgb(56, 56, 56);
}


/* FOOTER */
.footer-container {
  margin-top: 50px;
  background-color: rgb(48, 48, 48);
  padding: 50px;

}

.footer-container p {
  color: white;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
}